body {
	background-color: #0D1F30;
}

.searchBar {
	background-color: #DB6C0F;
}

.row0 .well {
	background-color: #8BADA3;
}

.row3 .well {
	background-color: #3B6670;
}

.row6 .well {
	background-color: #424E52;
}

.container .row {
	display: table;
	float: none;
}

.container .well {
	display: table-cell;
	float: none;
	
}

.well img {
	width: 150px;
	height: 150px;
}

.searchBar {
	margin-top: 2%;
	margin-left: 5%;

}

.searchBtn {
	width: 200px;
	margin-left: 13%;
}

